@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  background-image: url('background.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F6F8F8 ;
  font-family: inter, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin-top: 50px;
  margin-bottom: 80px;

  position: relative;
  width: 48vw;
  height: auto;

  border-radius: 16px;
  background-color: white;
  
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #759593;
  border-radius: 8px;
}

.heading {
  display: flex;
  flex-direction: row;
  text-align: left;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

label {
  font-weight: 600;
}

input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 16px 24px;
  width: 100%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #FFFFFF;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s;
}

textarea:focus, input:focus{
  outline: none;
  background: #E1E0E6;
  border: 3px solid #1B1B1B;
  border-radius: 16px;
}

.birthday-age {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.birthday {
  
  width: 50%;
  margin-right: 20px;
}

.Age {
  
  width: 50%;
  margin-left: 20px;
}

.buttons{
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.leftbutton{
  width: 12%;
  margin-right: 40px;
  margin-left: 50px;
  
}

.rightbutton{
  width: 12%;
  margin-left: 40px;
  margin-right: 50px;
}


.btn {
  
  background-color: #E1E0E6;
  border: 2px solid #759593;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 45px;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;
  
  width: 141px;
  height: 56px;
  left: 32px;
  top: 88px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.16s ease-out;
}

.btn:hover {
  background: #B1A9BD;
  border: 4px solid #759593;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #759593;
  border-radius: 16px;
}
